@font-face {
  font-family: 'Sant Joan';
  src: url('fonts/SantJoanDespi-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  src: url('fonts/Arial-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Chiller';
  src: url('fonts/Chiller.TTF') format('truetype');
}

@font-face {
  font-family: 'Comic Sans';
  src: url('fonts/Comic Sans MS.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

